#jinja2: trim_blocks: False
---
# {{ ansible_managed }}

- block:
    - name: "{{ test.label }}"
      iocage:
{%- if test.iocage is defined %}
        {{ test.iocage|to_nice_json(indent=2)|indent(width=8) }}
{%- endif %}
      register: result
  rescue:
    - ansible.builtin.debug:
        var: ansible_failed_result
      when: debug|bool

- block:
    - ansible.builtin.assert:
        success_msg: "{{ lbr }} _test_name {{ rbr }}: All assertions passed"
        that:
{%- for i in test.assert %}
          - {{ i }}
{%- endfor %}
    - ansible.builtin.import_tasks: custom_stats_pass.yml
  rescue:
    - ansible.builtin.debug:
        msg: "{{ test.msg_err }}"
      when: debug|bool
    - ansible.builtin.import_tasks: custom_stats_fail.yml
{%- if test.vars|default({})|length > 0 %}
  vars:
{%- for k,v in (test.vars|default({})).items() %}
    {{ k }}: {{ v }}
{%- endfor %}
{%- endif %}
